body{
	/* Encriptador - 1 Desktop */
	position: relative;
	width: 1440px;
	height: 1024px;
	margin: 0 auto;

	background: #FF7D86;

	font-family: 'Montserrat Alternates', sans-serif;
}

.logo-alura{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;

	position: absolute;
	width: 120px;
	height: 48px;
	left: 40px;
	top: 40px;
}

textarea{
	/* Ingrese el texto aqui */
	position: absolute;
	width: 680px;
	height: 283px;
	left: 240px;
	top: 168px;

	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 175%;
	/* identical to box height, or 48px */

	/* Dark blue/dark-blue-300 */
	color: darkblue;

	border: none;
	border-radius: 18px;
	background: #FFB0B5;
}

.panel-derecho{
	/* Rectangle 1 */
	position: absolute;
	width: 400px;
	height: 944px;
	left: 1000px;
	top: 40px;

	/* White */
	background: #87fab6;
	
	/* shadow */
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 44%);
	border-radius: 32px;
}

.muñeco{
	position: absolute;
	width: 336px;
	height: 304px;
	left: 1032px;
	top: 283px;
}

.texto-panel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;

	position: absolute;
	width: 336px;
	height: 122px;
	left: 1032px;
	top: 619px;
}

.advetencia{
	/* Frame 1 */

	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;

	position: absolute;
	width: 229px;
	height: 18px;
	left: 240px;
	top: 851px;
}

.advetencia img{
	/* Vector */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 8%;
}

.advetencia p{
	/* Solo letras minúsculas y sin acentos */
	position: absolute;
	left: 22px;
	width: 370px;
	height: 31px;

	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 171%;
	/* identical to box height, or 18px */

	/* Gray/gray-400 */
	color: black;
	font-weight: bold;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

.p1{
	/* Ningún mensaje fue encontrado */
	width: 336px;
	height: 58px;

	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	/* or 29px */
	text-align: center;

	/* Gray/gray-500 */
	color: #343A40;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.p2{
	width: 336px;
	height: 48px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	text-align: center;

	/* Gray/gray-400 */
	color: #495057;

	/* Inside auto layout */
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}

.button{	
	/* Frame 3 */

	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	position: absolute;
	width: 680px;
	height: 67px;
	left: 240px;
	top: 885px;
}

.b1{
	width: 328px;
	height: 67px;

	background: #0A3871;

	border: 1px solid #0A3871;
	border-radius: 24px;

	font-size: x-large;
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;

	cursor: pointer;
}

.b1:hover{
	box-shadow: 0px 0px 13px 2px rgb(0 251 103);
	transform: scale(1.015);
}

.b2{
	width: 328px;
	height: 67px;

	background: #D8DFE8;

	border: 1px solid #0A3871;
	border-radius: 24px;

	font-size: x-large;
	font-family: 'Montserrat Alternates', sans-serif;
}
